name: Build and release library
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
      - name: Checkout
        uses: actions/checkout@v6
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org/'
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: latest
      - name: Build and publish
        run: |
          PUBLISH_TAG="latest" # Default tag for full releases
          if [ ! ${{ steps.release.outputs.release_created }} ]; then
            pnpm version prerelease --no-commit-hooks --no-git-tag-version
            # push changes
            git config user.name github-actions
            git config user.email github-actions@github.com
            git add .
            git commit -m "bump beta version"
            git push
          
            PUBLISH_TAG="beta" # Override tag for prereleases
          fi
          
          npm install -g npm@latest
          # Use the dynamic tag for publishing
          npm publish --tag $PUBLISH_TAG --provenance
